a {
    text-decoration: none;
    color: white;
}

li {
    margin-bottom: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}


.heading {
    background-color: #424874;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    height: 100px;
    margin-top: 25px;
    z-index: 1;
    left: 0px;
    top: 0px;
    right: 0px;
    min-width: 600px;
}

.heading-flex {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    left: 250px;
}

.name {
    font-size: larger;
}

.speciality {
    text-align: right;
    font-size: large;
}

.sidebar {
    position: absolute;
    height: fit-content;
    background-color: #A6B1E1;
    padding: 10px;
    margin-left: 20px;
    max-width: 175px;
    top: 0px;
}

.photo {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 150px;
    width: 150px;
    border: 5px solid #424874;
    border-radius: 100%;
    z-index: 2;
}

.main {
    position: absolute;
    left: 225px;
    top: 150px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-flow: row;
    gap: 20px 20px;
    min-width: 375px;
}

.main>* {
    background-color: #EAEAEA;
    padding: 20px;
    border-radius: 50px;
}
